
.search {
    position: relative;
    width: 100%;
    input {
        width: calc(100% - 36px);
        background-color: var(--trans-color);
        outline: none;
        border: 1px solid var(--dark-color-4);
        height: 40px;
        border-radius: 20px;
        font-size: 13px;
        letter-spacing: .5px;
        font-weight: 500;
        padding: 0 0 0 36px;
        color: var(--white-color);
        transition: all .5s ease 0s;
        &:hover {
            border: 1px solid var(--dark-color-5);
        }
    }
    & > img {
        width: 20px;
        height: 20px;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(10px, -50%);
    }
}

.search-wrapper {
    position: relative;
}