
.admin {
    display: flex;
    flex-direction: column;
    // align-items: center;
    & > .box {
        // flex: 40%;
        width: 650px;
        
        position: relative;
        
        margin-bottom: 30px;
        // padding-bottom: 80px;

        .fields {
            // min-height: 100px;
        }

        .field {
            font-size: 18px;
            margin-bottom: 10px;
            letter-spacing: .5px;
            margin-bottom: 30px;

            &.categories {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .category-buttons {
                    display: flex;
                    gap: 10px;
                    align-items: center;
                }
            }
            &.tickets {
                display: flex;
                justify-content: space-between;
                align-items: center;
                .tickets-content {
                    display: flex;
                    align-items: center;
                    gap: 25px;
                    .tickets-info {
                        font-size: 12px;
                        font-family: monospace;
                    }
                }
                .button {
                    height: 25px;
                    padding: 0 25px;
                }
            }
            &.rejects {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }
        
    }

    .rejected-offers-list {
        
        .rejected-offer {
            margin-bottom: 20px;
            .rejected-offer-content {
                display: flex;
                justify-content: space-between;
                align-items: center;
                .title {
                    cursor: pointer;
                    &:hover {
                        text-decoration: underline;
                    }
                }
                .rejected-offer-chats {
                    display: flex;
                    gap: 5px;
                    .button {
                        width: 50px;
                    }
                }
            }
            .rejected-offer-buttons {
                display: flex;
                gap: 10px;
                margin-top: 5px;
                .button {
                    flex: 33%;
                }
            }
        }
    }
}