
.textarea {
    resize: none;
    background-color: transparent;
    color: var(--white-color);
    padding: 10px;
    outline: none;
    border: 1px solid var(--dark-color-3);
    border-radius: 5px;
    width: calc(100% - 20px);
    font-family: monospace;
}