
.switcher {
    border-radius: 20px;
    display: flex;
    align-items: center;
    background-color: var(--dark-color-1);
    border: 1px solid var(--dark-color-3);
    & > .switcher-list {
        display: flex;
        align-items: center;
        // gap: 20px;
        .switcher-item {
            display: flex;
            align-items: center;
            gap: 5px;
            height: 32px;
            padding: 0 20px;
            cursor: pointer;
            border-radius: 20px;
            transition: all .5s ease 0s;
            &:hover {
                background-color: var(--dark-color-3);
            }
            & > span {
                font-size: 12px;
            }
            & > img {
                width: 16px;
                height: 16px;
            }

            &.active {
                background-color: var(--base-color);
            }
        }
    }
}