
.categories-panel {
    width: 100%;
    user-select: none;
    .panel {
        display: flex;
        gap: 5px;
        width: 100%;
        .panel-item {
            width: fit-content;
            font-size: 14px;
            background-color: var(--dark-color-2);
            border-radius: 5px;
            cursor: pointer;
            transition: all .5s ease 0s;
            &:hover {
                background-color: var(--dark-color-3);
            }
        }
    }

    .top-panel {
        // margin-bottom: 10px;
        position: relative;
        margin-bottom: -16px;
        
        .panel-line {
            display: flex;
            overflow: scroll;
            gap: 0px;
            width: calc(100% - 40px);
            // margin-bottom: -16px;
            .top-panel-item {
                background-color: transparent;
                position: relative;
                white-space: nowrap;
                padding: 0 15px;
                &.next {
                    &::after {
                        content: '';
                        position: absolute;
                        background-color: var(--dark-color-5);
                        border-radius: 50%;
                        top: 50%;
                        left: 0;
                        width: 5px;
                        height: 5px;
                        transform: translate(-2px, -50%) rotate(-90deg);
                    }
                }
                &.active {
                    font-weight: 600;
                }
                &.home {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 0 12px;
                    img {
                        width: 18px;
                        height: 18px;
                    }
                }
                
            }
        }
        .bottom-hider {
            position: absolute;
            top: 50%;
            right: 0;
            transform: translate(0, calc(-50% - 7.5px));
            border-radius: 5px;
            padding: 3px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: var(--dark-color-2);
            cursor: pointer;
            transition: all .5s ease 0s;
            &:hover {
                background-color: var(--dark-color-3);
            }
            img {
                width: 18px;
                height: 18px;
            }
        }
    }

    .bottom-panel {
        flex-wrap: wrap;
        margin-top: 16px;
        .bottom-panel-item {
            padding: 5px 15px;
        }
    }
}