
.input {
    width: calc(100% - 32px);
    background-color: transparent;
    outline: none;
    border: 1px solid var(--dark-color-5);
    border-radius: 7px;
    padding: 11px 16px;
    font-size: 16px;
    color: var(--white-color);
    font-family: monospace;
}