
.user-info-freelance {

    margin-top: 25px;

    .general-info {

        .info-label {
            font-weight: 500;
            margin-bottom: 10px;
        }
        .cv-info {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 25px;
            padding: 10px;
            border: 1px solid var(--dark-color-3);
            border-radius: 10px;
            & > .info-label {
                margin: 0;
            }
            .cv-panel {
                display: flex;
                gap: 5px;
                .button {
                    height: 30px;
                    padding: 0 15px;
                }
            }
        }
        .categories-info {
            user-select: none;
            margin-bottom: 25px;
            .categories-list {
                display: flex;
                gap: 5px;
                flex-wrap: wrap;
                .category-item {
                    padding: 5px 10px;
                    border-radius: 5px;
                    background-color: var(--dark-color-2);
                    display: flex;
                    gap: 5px;
                    align-items: center;
                    span {
                        font-size: 13px;
                    }
                    img {
                        width: 16px;
                        height: 16px;
                        transform: rotate(45deg);
                        cursor: pointer;
                    }
                }
            }
            & > .button {
                margin-top: 10px;
            }
            .add-category-panel {
                margin-top: 15px;
                
                .active-category-panel {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-bottom: 15px;
                    padding: 10px;
                    border: 1px solid var(--dark-color-3);
                    border-radius: 10px;
                    .active-category-name {
                        // font-size: 16px;
                        font-weight: 600;
                    }
                    .add-category-buttons {
                        display: flex;
                        .button {
                            height: 25px;
                            padding: 0 15px;
                        }
                    }
                }
            }
        }
    }

    .user-info-ratings {
        user-select: none;
        .user-info-ratings-panel {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 7px;
            font-family: monospace;
            img {
                width: 18px;
                height: 18px;
            }
        }
        .rating {
            margin-bottom: 10px;
            padding: 10px;
            background-color: var(--dark-color-2);
            border-radius: 10px;
        }
        .rating-title {
            // margin-top: 3px;
            margin-bottom: 10px;
            font-weight: 500;
        }
        .rating-comment {
            font-size: 12px;
            font-family: monospace;
        }
    }

    
}