
.avatar {
    border-radius: 50%;
    overflow: hidden;
    .avatar-default {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--base-color-trans);
        img {
            width: 70%;
        }
    }
    
}

.avatar-wrapper {
    position: relative;
    .online-indicator {
        position: absolute;
        bottom: 1px;
        right: 1px;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: var(--green-color);
    }
}