
.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--dark-color-2);
    z-index: 500;
    display: flex;
    justify-content: center;
    align-items: center;

    img, video {
        max-width: 100vw;
        max-height: 100vh;
    }
}