
.chat {
    height: 100%;
    display: grid;
    grid-template-rows: 60px auto 45px;

    &.support {
        // height: 80vh;
        grid-template-rows: calc(100% - 45px - 60px) 45px;
        .top-panel {
            display: none;
        }
        .main-panel {
            .scroller-down.active {
                transform: translate(-20px, -120px);
            }
        }
        // .bottom-panel {
        //     margin-top: -15px;
        // }
    }

    .top-panel {
        background-color: var(--dark-color-1);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 16px;
        .username {
            cursor: pointer;
            margin-bottom: 3px;
            &:hover {
                text-decoration: underline;
            }
        }
        .action-info {
            font-size: 10px;
            font-weight: 500;
            color: var(--dark-color-5);

            &.active {
                color: var(--base-color);
            }
        }
    }

    .main-panel {
        overflow: auto;
        display: flex;
        flex-direction: column;
        // justify-content: flex-end;
        padding-bottom: 10px;
        padding-top: 10px;
        .messages-group {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin-top: 10px;
            .date-panel {
                align-self: center;
                text-align: center;
                width: 120px;
                padding: 5px 0;
                background-color: var(--trans-color);
                border-radius: 20px;
                font-size: 12px;
                position: sticky;
                top: 0;
                margin-bottom: 5px;
                font-weight: 500;
                z-index: 5;
            }
        }

        .message-wrapper {
            display: flex;
            align-items: center;
            gap: 10px;
            transition: all 1s ease .25s;
            position: relative;
            &.self {
                justify-content: flex-end;
            }
            &.other {
                justify-content: flex-start;
            }

            &.point {
                background-color: var(--base-color-trans);
            }

            .reply-button {
                width: 25px;
                height: 25px;
                // background-color: var(--dark-color-2);
                opacity: 0;
                visibility: hidden;
                transition: all .3s ease 0s;
                cursor: pointer;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            &:hover {
                .reply-button {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
        .message {
            padding: 10px;
            margin: 2.5px 10px;
            max-width: 400px;
            overflow: hidden;
            .reply {
                padding: 5px 10px;
                margin-bottom: 10px;
                background-color: var(--base-color-trans);
                border-radius: 5px;
                border-left: 4px solid var(--base-color);
                cursor: pointer;
                min-width: 100px;
                .reply-sender {
                    font-weight: 600;
                    color: var(--base-color);
                    font-size: 13px;
                }
                .reply-text {
                    font-size: 12px;
                }
                & > div {
                    height: 16.8px;
                    overflow: hidden;
                    word-break: break-all;
                }
            }
            .files {
                margin: -10px -10px 2px;
            }
            .text-content {
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
                gap: 5px;
                .text {
                    font-size: 13px;
                    margin-right: 5px;
                    word-break: break-all;
                }
                .timestamp {
                    font-size: 10px;
                    margin-bottom: -5px;
                    color: lightgray;
                    font-weight: 300;
                }
                .read-mark {
                    margin-bottom: -5px;
                    min-width: 15px;
                    height: 15px;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
                .message-meta {
                    display: flex;
                    align-items: center;
                    gap: 5px;
                }
            }

            &.self {
                background-color: var(--base-color-trans);
                border-radius: 10px 10px 0 10px;
            }
            &.other {
                background-color: var(--dark-color-2);
                border-radius: 10px 10px 10px 0;
            }
        }

        &.related {
            padding-bottom: 55px;
        }

        .scroller-down {
            position: absolute;
            right: 0;
            bottom: 0;
            transform: translate(-20px, 0);
            width: 40px;
            height: 40px;
            background-color: var(--base-color);
            border-radius: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            opacity: 0;
            visibility: hidden;
            transition: all .5s ease 0s;
            & > img {
                height: 30px;
                transform: translate(0, 2px);
            }
            &:hover {
                box-shadow: 0 0 10px var(--base-color);
            }
            &.active {
                opacity: 1;
                visibility: visible;
                transform: translate(-20px, -100px);
            }
        }
    }
    .bottom-panel {
        background-color: var(--dark-color-3);
        display: grid;
        align-items: center;
        grid-template-columns: 40px auto 40px;
        position: relative;
        // gap: 5px;
        padding: 5px;
        .button {
            img {
                width: 25px;
                height: 25px;
            }
        }
        .loader-box {
            width: 40px;
            height: 25px;
            position: relative;
            & > .loader-wrapper {
                width: 40px;
            }
        }
        
        & > textarea {
            outline: none;
        }

        &.attached {
            grid-template-columns: 40px 100px auto 40px;

            .attached-files {
                background-color: var(--base-color);
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin: 0 5px;
                padding: 5px;
                border-radius: 10px;
                user-select: none;
                img {
                    width: 15px;
                    height: 15px;
                }
                span {
                    font-size: 10px;
                    font-weight: 500;
                }
                div {
                    display: flex;
                    align-items: center;
                    gap: 2px;
                }
                .close {
                    // transform: rotate(45deg);
                    cursor: pointer;
                }
            }
            
        }

        .reply-message-panel {
            position: absolute;
            top: 0;
            left: 0;
            width: calc(100% - 30px);
            height: 45px;
            background-color: var(--dark-color-2);
            transform: translate(0, -100%);
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 15px;
            img {
                width: 30px;
                height: 30px;
            }
            .close {
                width: 15px;
                height: 15px;
                cursor: pointer;
            }
            .reply-side {
                display: flex;
                gap: 15px;
                .reply-text-content {
                    
                    .reply-author {
                        font-size: 13px;
                        font-weight: 600;
                        color: var(--base-color);
                    }
                    .reply-text {
                        font-size: 12px;
                        word-break: break-all;
                        height: 15.2px;
                        overflow: hidden;
                    }
                }
            }
        }
        
    }
}