
.marketplace {
    
    .main-page {
        // position: relative;
        .banner{
            // position: absolute;
            margin-top: -25px;
            margin-left: -50px;
            width: calc(100vw - 60px);
            height: 50vh;
            background-color: var(--dark-color-2);
            // background-color: #00000077;
            // box-shadow: inset 0 -120px 75px var(--dark-color-0);
            overflow: hidden;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;

            img {  
                position: absolute;
                top: 50%;
                left: 0;
                width: 100%;
                transform: translate(0, -50%);
                z-index: -1;
            }
        }

        .main-page-content {
            display: flex;
            flex-direction: column;
            gap: 40px;
            margin-top: 40px;
            .main-page-items-panel {

                .side {

                    &-top {
                        display: flex;
                        align-items: center;
                        // justify-content: space-between;
                        gap: 40px;
                        & > .button {
                            font-size: 12px;
                            height: 25px;
                            padding: 0 20px;
                        }
                        margin-bottom: 10px;
                    }
                    &-bottom {
                        
                    }
                }
            }
        }
    }

    .category-page {

        .category-title {
            margin-bottom: 10px;
            margin-top: 25px;
        }
        .side {

            &-top {
                padding: 16px;
                border: 1px solid var(--dark-color-3);
                // background-color: var(--dark-color-1);
                border-radius: 10px;
            }
            &-bottom {

            }
        }
    }
}