
.password {
    width: calc(100% - 32px);
    background-color: transparent;
    outline: none;
    border: 1px solid var(--dark-color-5);
    border-radius: 7px;
    padding: 11px 16px;
    font-size: 16px;
    color: var(--white-color);
    font-family: monospace;
}

.password-wrapper {
    position: relative;
}

.show-hide-password {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(-10px, calc(-50%));
    cursor: pointer;
    img {
        width: 18px;
        height: 18px;
    }
}