
.user-info {

    .user-info-panel {
        position: relative;
        z-index: 0;
        .user-avatar {
            margin-left: -24px;
            margin-top: calc(-20px - 62px);
            width: calc(100% + 48px);
            height: 310px;
            position: relative;
            // z-index: -2;
            .file-displayer-wrapper {
                position: absolute;
                top: 0;
                left: 0;
                width: 100% !important;
                height: 100% !important;
                .file-displayer-image > img {
                    height: auto !important; 
                    width: auto !important;
                }
            }
            .avatar-default {
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #271e2c;
                img {
                    width: 135px;
                }
            }
            .avatar-darker {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                box-shadow: inset 0 -60px 100px var(--dark-color-1);
                // background-color: #00000099;
            }
        }
        .user-info-top {
            position: absolute;
            width: 100%;
            bottom: 10px;
            left: 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .username {
                font-weight: 600;
                font-size: 22px;
            }
            .user-info-chat {
                width: 45px;
                height: 45px;
                border-radius: 50%;
                transform: translate(0, 32px);
            }
            
            &.chat-active {
                flex-direction: column;
                align-items: flex-start;
                gap: 3px;
                .username {
                    font-size: 14px;
                    font-weight: 400;
                }
                .first-message {
                    width: 100%;
                    display: flex;
                    & > input {
                        flex: 100%;
                        background-color: var(--trans-color);
                        border: 0;
                    }
                    & > button {
                        border-radius: 7px;
                    }
                    & > .send-icon {
                        margin-left: -30px;
                        padding-right: 10px;
                    }
                    & > .loader-box {
                        width: 30px;
                        padding-right: 10px;
                        margin-left: -37px;
                        // height: 25px;
                        position: relative;
                        & > .loader-wrapper {
                            // width: 30px;
                        }
                    }
                }
            }
        }
    }

    .switcher-panel {
        width: fit-content;
        margin: 15px auto;
    }

    .user-info-content {

        .bio {

            .avatar-info {
                margin-bottom: 15px;
                
                .avatar-panel > .button {
                    height: 30px;
                    width: 100%;
                }
            }
            .description-info {
                margin-bottom: 15px;
            }
        }
    }
}