
.offers {

    .offers-page-container {

        .offers-page-items-panel {
            margin-bottom: 40px;
            .side {

                &-top {
                    margin-bottom: 10px;
                }
                &-bottom {
                    // min-height: 225px;
                }
            }
        }

        .offers-page-empty-part {
            height: 50vh;
            display: flex;
            justify-content: center;
            align-items: center;
            .empty-part-content {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 20px;
                & > span {
                    font-size: 24px;
                    font-weight: 500;
                }
                & > button {
                    height: 30px;
                    padding: 0 30px;
                }
            }
        }
    }
}