
.empty-sign {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    border-radius: 15px;
    
    &-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        img {
            width: 50px;
        }
        span {
            font-size: 28px;
            font-weight: 700;
            color: var(--dark-color-5);
        }
    }
}