
.chats {
    display: grid;
    grid-template-columns: 320px auto;
    grid-template-rows: minmax(0, 1fr);
    height: calc(100vh - var(--ptop) + 25px - 40px);
    overflow: auto;

    .chats-panel {
        background-color: var(--dark-color-1);
        height: 100%;
        border-right: 1px solid var(--dark-color-3);

        .chat-item {
            display: grid;
            grid-template-columns: 50px auto;
            gap: 10px;
            padding: 10px;
            transition: all .5s ease 0s;
            cursor: pointer;
            .chat-preview {
                
            }
            .chat-body {

                .chat-info-panel {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    .chat-title {
                        font-size: 15px;
                        font-weight: 500;
                        height: 18.5px;
                        word-break: break-all;
                        overflow: hidden;
                    }
                    .chat-timestamp {
                        font-size: 10px;
                        color: lightgray;
                        font-weight: 300;
                    }
                }
                .chat-last-message {
                    margin-top: 5px;
                    display: flex;
                    align-items: center;
                    gap: 3px;
                    font-size: 13px;
                    position: relative;
                    
                    .sender {
                        color: lightgray;
                        font-weight: 300;
                    }
                    .chat-message-text {
                        height: 16px;
                        overflow: hidden;
                        word-break: break-all;
                        margin-right: 20px;
                    }
                    .chat-unreads {
                        position: absolute;
                        right: 0;
                        width: 15px;
                        height: 15px;
                        background-color: var(--base-color);
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        span {
                            font-size: 8px;
                            letter-spacing: .25px;
                            font-weight: 600;
                        }

                        &.small {
                            width: 8px;
                            height: 8px;
                            margin-right: 5px;
                        }
                    }
                }
            }
            &.active {
                background-color: var(--dark-color-3);
                &:hover {
                    background-color: var(--dark-color-3);
                }
            }
            &:hover {
                background-color: var(--dark-color-2);
            }
        }
    }

    .load-wrapper {
        position: relative;
    }
    .empty-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        span {
            font-size: 12px;
            padding: 5px 20px;
            background-color: var(--dark-color-2);
            border-radius: 20px;
        }
    }
}