@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

:root {
    // --base-color: #03DD03;
    --base-color: #7D4884;
    --base-color-trans: #7D488433;
    --sub-color: #04C83F;
    --trans-color: #12141677;
    --dark-color-0: #090A0B;
    --dark-color-1: #121416;
    --dark-color-2: #1C1F22;
    --dark-color-3: #25292D;
    --dark-color-4: #2E3338;
    --dark-color-5: #373D43;
    --white-color: #E8E5DA;
    --red-color: #B42318;
    --yellow-color: #E59500;
    --green-color: #04C83F;
    --green-color-trans: #04C83F55;
    --ptop: calc(25px + 70px);
    --pleft: calc(45px + 65px);
    --pbottom: 70px;

    // --dark-color-0: #0C070D;
    // --dark-color-1: #180E1B;
    // --dark-color-2: #241528;
    // --dark-color-3: #301C35;
    // --dark-color-4: #3C2343;
    // --dark-color-5: #482A50;
}

::-webkit-scrollbar {
    width: 0px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background-color: var(--font-color-trans);
    border-radius: var(--base-radius);
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--dark-color-0);
    min-height: 100vh;
    color: var(--white-color);
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    letter-spacing: .035em;
    position: relative;
    #root {
        min-height: 100vh;
        position: relative;
    }
}

.page {
    padding-top: var(--ptop);
    padding-left: var(--pleft);
    padding-bottom: var(--pbottom);
    padding-right: 16px;
    &.big {
        padding-top: calc(var(--ptop) - 25px);
        padding-left: calc(var(--pleft) - 45px);
        padding-bottom: 0;
        padding-right: 0;
    }
}

img {
    user-select: none;
}

.offers-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    position: relative;
    min-height: 130px;
}

.category-title {
    font-weight: 500;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 5px;
    img {
        width: 18px;
    }
}





