
.manage-wallet {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-12px, 12px);
    max-height: 80vh;
    overflow: scroll;
    width: 300px;
    padding: 20px 24px 0;
    border-radius: 10px;
    background-color: var(--dark-color-1);
    border: 1px solid var(--dark-color-3);

    .manage-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 15px;
        margin-bottom: 15px;
        border-bottom: 1px solid var(--dark-color-3);
        font-family: monospace;
        .title-info {
            display: flex;
            align-items: center;
            gap: 15px;
            img {
                width: 35px;
                height: 35px;
            }
            span {
                font-size: 16px;
            }
        }
        
        .close {
            cursor: pointer;
            img {
                width: 22px;
                height: 22px;
            }
        }
    }

    .manage-content {
        display: flex;
        flex-direction: column;

        .balance {
            display: flex;
            align-items: center;
            gap: 10px;
            font-family: monospace;
            padding-bottom: 15px;
            border-bottom: 1px solid var(--dark-color-3);
            .token {
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    height: 20px;
                }
            }
        }
        .manage-actions {
            display: flex;
            flex-direction: column;
            .manage-action {
                padding: 20px 32px;
                margin: 0 -32px;
                background-color: transparent;
                font-size: 16px;
                transition: all .5s ease 0s;
                display: flex;
                align-items: center;
                gap: 10px;
                cursor: pointer;
                img {
                    width: 20px;
                    height: 20px;
                }
                &:hover {
                    background-color: var(--dark-color-2);
                }
            }
        }
    }
}