
.success {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

    .success-circle {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        position: relative;
        animation: circle-animate 1.5s ease 1 forwards;
        .success-stick {
            position: absolute;
            // background-color: var(--white-color);
            height: 7px;
            border-radius: 10px;
            animation: stick-animate 1.5s ease 1 forwards;
            &-1 {
                top: 45px;
                left: 15px;
                width: 25px;
                transform: rotate(45deg);
            }
            &-2 {
                top: 39px;
                left: 26px;
                width: 40px;
                transform: rotate(-45deg);
            }
        }

        @keyframes circle-animate {
            0% {
                background-color: transparent;
                transform: scale(2.5);
                box-shadow: none;
            } 75% {
                transform: scale(1);
                background-color: var(--green-color-trans);
                box-shadow: 0 0 25px var(--green-color-trans);
            }
            100% {
                background-color: var(--green-color);
                box-shadow: 0 0 10px var(--green-color);
            }
        }

        @keyframes stick-animate {
            0% {
                background-color: transparent;
            } 75% {
                background-color: transparent;
            } 100% {
                background-color: var(--white-color);
            }
        }
    }

    .success-label {
        animation: label-animate 1.5s ease 1 forwards;

        @keyframes label-animate {
            0% {
                // color: transparent;
                transform: translate(0, 50px);
            } 100% {
                // color: var(--white-color);
                transform: translate(0, 0);
            }
        }
    }
}