
.create-offer-modal {
    
    .create-offer-modal-box {

        .offer-modal-text {
            // font-weight: 500;
            margin-bottom: 20px;
            font-size: 13px;
        }
        .offer-modal-content {
            
        }

        &.category {

            .category-active {
                border-radius: 10px;
                padding: 10px;
                // font-weight: 600;
                text-align: center;
                border: 1px solid var(--dark-color-3);
                min-height: 17px;
                margin-bottom: 15px;
                font-family: monospace;
                font-size: 16px;
            }
        }
        &.text-info {
            .input {
                margin-bottom: 20px;
            }
        }
        &.keywords {
            .add-panel {
                height: 30px;
                display: flex;
                gap: 10px;
                margin-bottom: 20px;
                .button {
                    padding: 0 20px;
                }
            }
            .keywords-box {
                display: flex;
                flex-wrap: wrap;
                gap: 5px;
                .keyword-item {
                    font-family: monospace;
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    padding: 5px 10px;
                    border: 1px solid var(--dark-color-3);
                    background-color: var(--dark-color-2);
                    border-radius: 10px;
                    img {
                        cursor: pointer;
                        width: 16px;
                        height: 16px;
                        transform: rotate(45deg);
                    }
                }
            }
        }
        &.tasks {
            .add-panel {
                height: 30px;
                display: flex;
                gap: 10px;
                margin-bottom: 20px;
                .button {
                    padding: 0 20px;
                }
            }
            .tasks-box {
                display: flex;
                flex-direction: column;
                gap: 10px;
                .task-item {
                    font-family: monospace;
                    display: flex;
                    align-items: flex-start;
                    justify-content: space-between;
                    img {
                        cursor: pointer;
                        width: 16px;
                        height: 16px;
                        transform: rotate(45deg);
                    }
                }
            }
        }
        &.deadline, &.price {

            .offer-modal-content {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
        &.price {

            .offer-modal-balance {
                font-size: 13px;
                font-family: monospace;
                margin-bottom: 10px;
                text-align: center;
            }
        }
        &.files {

            .offer-modal-content {
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .preview {
                margin-bottom: 50px;
                
            }

            .attach > .files-list {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                gap: 10px;
            }

            .input-file {
                
                & > .button {
                    min-width: 190px;
                    height: 30px;
                    width: max-content;
                    transform: translate(-33%, 0);
                }
                
            }
        }

        &.payment {
            height: 150px;
            position: relative;
        }
    }
}