
.connect-wallet {

    .wallets {

        .wallet-item {
            user-select: none;
            padding: 18px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border: 1px solid var(--dark-color-3);
            border-radius: 15px;
            margin-bottom: 10px;
            cursor: pointer;
            transition: all .5s ease 0s;
            .item-side {
                display: flex;
                gap: 12px;
                align-items: center;
                img {
                    width: 32px;
                    height: 32px;
                }
                span {
                    font-size: 18px;
                    font-weight: 600;
                }

                .dot {
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    border: 1px solid var(--dark-color-3);
                    transition: all .5s ease 0s;
                    position: relative;
                    &::after {
                        content: '';
                        position: absolute;
                        width: 50%;
                        height: 50%;
                        border-radius: 50%;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        background-color: transparent;
                        transition: all .5s ease 0s;
                    }
                }
            }

            &:hover {
                background-color: var(--base-color-trans);
                border: 1px solid var(--base-color);
                .item-side > .dot {
                    border: 1px solid var(--base-color);
                    &::after {
                        background-color: var(--base-color);
                    }
                }
            }
        }
    }

    .wallet-banner {
        font-size: 16px;
    }
}