
.offer {
    border-radius: 10px;
    overflow: hidden;
    // border: 1px solid var(--dark-color-3);
    background-color: var(--trans-color);
    cursor: pointer;
    .offer-preview {
        width: 275px;
        height: 200px;
        background-color: var(--dark-color-4);
        transition: all .5s ease 0s;
    }

    .offer-body {
        padding: 16px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        .offer-title {
            font-size: 16px;
            font-weight: 800;
            height: 20px;
            overflow: hidden;
            word-wrap: break-word;
        }
        .offer-keywords {
            display: flex;
            flex-wrap: wrap;
            gap: 7px;
            height: 22.5px;
            overflow: hidden;
            .offer-keyword {
                // font-family: monospace;
                background-color: var(--dark-color-3);
                padding: 4px 8px;
                border-radius: 5px;
                font-size: 10px;
                white-space: nowrap;
            }
        }
        .offer-button {
            border-radius: 5px;
            background-color: var(--dark-color-1);
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 8.5px;
            overflow: hidden;
            .offer-price {
                display: flex;
                align-items: center;
                gap: 7.5px;
                img {
                    width: 20px;
                }
                span {
                    font-size: 14px;
                }
            }
            & > .button {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                transform: translate(0, 40px);
            }
        }
    }

    &:hover {
        .offer-button > .button {
            transform: translate(0, 0);
        }
        .offer-preview img {
            transform: scale(1.05);
        }
    }
}