
.box {
    border: 1px solid var(--dark-color-3);
    border-radius: 20px;
    padding: 24px;
    overflow: hidden;

    background-color: var(--dark-color-0);

    
}

.box-title {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 20px;
}