
.button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7.5px;
    border: 0;
    background-color: var(--base-color);
    color: var(--white-color);
    border-radius: 3.5px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all .3s ease 0s;

    img {
        height: 20px;
    }

    &:hover {
        box-shadow: 0 0 7.5px var(--base-color);
    }

    &.empty {
        background-color: var(--dark-color-3);
        &:hover {
            box-shadow: 0 0 7.5px var(--dark-color-3);
        }
    }

    &.thin {
        background-color: transparent;
        border: none;
        padding-left: 0;
        padding-right: 0;
        &:hover {
            box-shadow: none;
            text-decoration: underline;
        }
    }

    &.red {
        background-color: var(--red-color);
        &:hover {
            box-shadow: 0 0 7.5px var(--red-color);
        }
    }

    &.green {
        background-color: var(--green-color);
        &:hover {
            box-shadow: 0 0 7.5px var(--green-color);
        }
    }

    &.outline {
        background-color: transparent;
        border: 1px solid var(--dark-color-3);
        border-radius: 25px;
        &:hover {
            box-shadow: none;
        }
    }
}