
.modal-offer {

    .modal-offer-header {
        position: relative;
        .modal-offer-preview {
            margin-left: -24px;
            margin-top: calc(-20px - 62px);
            width: calc(100% + 48px);
            height: 200px;
            position: relative;
            z-index: -1;
            .file-displayer-wrapper {
                position: absolute;
                top: 0;
                left: 0;
                width: 100% !important;
                height: 100% !important;
                .file-displayer-image > img {
                    height: auto !important; 
                    width: auto !important;
                    max-width: 500px !important; 
                    max-height: 500px !important;
                }
            }
            .preview-darker {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                box-shadow: inset 0 -100px 100px var(--dark-color-1);
                background-color: #00000099;
            }
        }
        .modal-offer-top {
            position: absolute;
            bottom: 0;
            left: 0;
            padding: 16px 16px 0 16px;
            width: calc(100% - 32px);
            transform: translate(0, 17px);
            user-select: none;
            .top-info {
                display: flex;
                justify-content: space-between;
                align-items: center;
                & > .button {
                    width: 40px;
                    height: 40px;
                    border-radius: 30%;
                    img {
                        // display: none;
                    }
                }
            }
            .label {
                font-weight: 600;
                color: lightgray;
                margin-bottom: 3px;
            }
            .price {
                font-size: 24px;
                font-weight: 700;
                margin-bottom: 10px;
            }
            .button {
                width: 100%;
                height: 36px;
            }

            .button-panel {
                // margin-top: 20px;
            }
        }
    }

    .modal-offer-body {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 35px;
        .title {
            font-size: 22px;
            font-weight: 600;
        }
        .desc {
            font-family: monospace;
            font-size: 13px;
        }
        .tasks {

            .task-list {
                padding: 0 15px;
                font-family: monospace;
                // border: 1px solid var(--dark-color-3);
                border-radius: 5px;
                div {
                    margin-bottom: 3px;
                }
            }
        }
        .files {

            .file-list {
                display: flex;
                flex-wrap: wrap;
                gap: 10px;
            }
        }
        .keywords {
            display: flex;
            flex-wrap: wrap;
            gap: 5px;
            margin-top: -15px;
            user-select: none;
            div {
                padding: 5px 15px;
                background-color: var(--dark-color-3);
                font-size: 10px;
                border-radius: 5px;
            }
        }
        .deadline {
            text-align: center;
            font-size: 12px;
        }

        .section-title {
            display: flex;
            align-items: center;
            gap: 5px;
            font-weight: 600;
            img {
                width: 16px;
            }
            margin-bottom: 7px;
        }
    }
}

.button-panel-apendix {
    display: flex;
    flex-direction: column;
    gap: 10px;

    &.modal-offer-rating {

        & > .button {
            height: 30px;
        }
    }

    &.modal-offer-candidates {
        min-height: 150px;
        position: relative;
        .modal-offer-candidate {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .username {
                b {
                    margin-right: 5px;
                }
                span {
                    // font-family: monospace;
                    font-size: 16px;
                    font-weight: 500;
                    cursor: pointer;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
            
            & > .button {
                width: fit-content;
                padding: 0 15px;
                height: 25px;
            }
        }
    }
    
    
}