
.authorization {
    
    display: flex;
    flex-direction: column;
    align-items: center;

    & > .box {
        input {
            margin-bottom: 10px;
        }
        .role-choise {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 20px;
            & > span {
                font-size: 16px;
            }
        }
        .buttons-panel {
            display: flex;
            justify-content: space-between;
            margin-top: 15px;
            & > .button {
                height: 30px;
                padding: 0 15px;
            }

            .thin-buttons {
                display: flex;
                align-items: center;
                gap: 15px;
            }
        }

        .warning {
            margin-bottom: 20px;
            span {
                font-size: 16px;
            }
        }
    }
}