
.access-module {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;

    &-text {

        span {
            display: block;
            text-align: center;
            font-size: 16px;
            margin-bottom: 3px;
        }
    }

    img {
        width: 75px;
    }
    
}