
.input-number {
    background-color: transparent;
    outline: none;
    border: 1px solid var(--dark-color-5);
    border-radius: 7px;
    padding: 11px 16px;
    font-size: 16px;
    color: var(--white-color);
    font-family: monospace;
    text-align: right;
}
.input-number-wrapper {
    position: relative;
    .input-number-sign {
        position: absolute;
        font-family: monospace;
        text-transform: uppercase;
        top: 50%;
        left: 0;
        transform: translate(7px, -50%);
        padding: 5px 7px;
        background-color: var(--dark-color-2);
        border-radius: 5px;
    }
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}