
.footer {
    position: fixed;
    bottom: 0;
    width: calc(100vw - 32px);
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    background-color: var(--dark-color-0);
    border-top: 1px solid var(--dark-color-3);
    z-index: 99;
    user-select: none;

    .side {

        &-left {
            .live-data {
                display: flex;
                align-items: center;
                gap: 10px;
                .detector {
                    width: 10px;
                    height: 10px;
                    background-color: var(--green-color);
                    border-radius: 50%;
                    position: relative;
                    &::after {
                        content: '';
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        width: 10px;
                        height: 10px;
                        transform: translate(-50%, -50%) scale(1);
                        background-color: var(--green-color-trans);
                        border-radius: 50%;
                        animation: pulse-anim 5s infinite ease;
                        @keyframes pulse-anim {
                            0% {
                                transform: translate(-50%, -50%) scale(1);
                            } 50% {
                                transform: translate(-50%, -50%) scale(2);
                            } 100% {
                                transform: translate(-50%, -50%) scale(1);
                            }
                        }
                    }
                    
                }
                .online-count {
                    font-size: 12px;
                }
            }
        }
        &-right {
            position: relative;
            .support-panel {
                display: flex;
                align-items: center;
                gap: 10px;
                cursor: pointer;
                position: relative;
                img {
                    width: 20px;
                }
                span {

                }

                .unreads {
                    position: absolute;
                    left: 0;
                    top: 0;
                    transform: translate(-7px, -3px);
                    font-size: 10px;
                    font-weight: 500;
                    width: 15px;
                    height: 15px;
                    background-color: var(--base-color);
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    &.none {
                        display: none;
                    }
                }
            }
            .support-box {
                position: absolute;
                width: 400px;
                height: calc(100vh - 40px - 60px);
                right: 0;
                bottom: -2px;
                background-color: var(--dark-color-1);
                border-radius: 10px;
                overflow: hidden;

                .top-side {
                    padding: 16px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    .title {
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        font-size: 16px;
                        font-weight: 500;
                    }
                    .close {
                        cursor: pointer;
                    }
                }

                .bottom-side {
                    position: relative;
                    height: 100%;
                }
            }
            
        }
    }
    
}
