
.modal {
    position: fixed;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(0px);
    background-color: #00000000;
    z-index: 200;
    top: 0;
    left: 0;
    transition: all .3s ease 0s;
    display: flex;
    justify-content: center;
    align-items: center;

    &.active {
        background-color: #00000055;
        backdrop-filter: blur(1px);
    }

    .modal-panel {
        width: 380px;
        max-height: 85vh;
        overflow: auto;
        padding: 20px 24px;
        border-radius: 20px;
        background-color: var(--dark-color-1);
        border: 1px solid var(--dark-color-3);
        opacity: 0;
        transition: all .3s ease 0s;
        transform: scale(.9);

        &.active {
            opacity: 1;
            transform: scale(1);
        }

        .modal-title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 15px;
            margin-bottom: 20px;
            border-bottom: 1px solid var(--dark-color-3);
            z-index: 500;
            &.no-border {
                border: none;
            }
            span {
                font-size: 20px;
                font-weight: 600;
            }
            .close {
                cursor: pointer;
                img {
                    width: 22px;
                    height: 22px;
                }
            }
        }
        .modal-content {
            display: flex;
            flex-direction: column;
            gap: 10px;

            .button-panel {
                margin-top: 15px;
                display: flex;
                justify-content: flex-end;
                gap: 20px;
                .button {
                    height: 30px;
                    padding: 0 15px;
                }
            }
        }
        .modal-loader {
            min-height: 150px;
            position: relative;
        }
    }

    
}