
.navbar {
    position: fixed;
    width: calc(100vw - 16px);
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 200px;
    padding: 0 16px 0 0;
    background-color: var(--dark-color-1);
    border-bottom: 1px solid var(--dark-color-3);
    z-index: 100;

    & > .side {
        display: flex;
        align-items: center;
        gap: 10px;
        &.r {
            flex: 60%;
            justify-content: flex-end;
            

            .bell, .messanger, .user-search, .profile {
                // height: 40px;
                // margin-right: 10px;
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 8px;
                border-radius: 50%;
                transition: all .3s ease 0s;
                cursor: pointer;
                &:hover {
                    background-color: var(--dark-color-3);
                }
                img {
                    height: 22px;
                }
                
            }
            .messanger .unreads {
                position: absolute;
                left: 0;
                top: 0;
                transform: translate(5px, 5px);
                font-size: 10px;
                font-weight: 500;
                width: 15px;
                height: 15px;
                background-color: var(--base-color);
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                &.none {
                    display: none;
                }
            }

            .signs {
                height: 40px;
                display: flex;
                gap: 15px;
                .sign {
                    &-in {
                        padding: 0 15px;
                    }
                    &-up {
                        padding: 0 25px;
                    }
                }
            }

            
        }

        &.l {

            .logo {
                cursor: pointer;
                transition: all .3s ease 0s;
                height: 40px;
                width: 40px;
                background-color: lightgray;
                margin-left: 10px;
                
                &:hover {
                    transform: scale(1.05);
                }
                img {
                    
                }
            }

            
            
        }
    }

}

.user-search-list {
    margin-top: 20px;
    margin-left: 20px;
    .search-list-item {
        margin-bottom: 10px;
        .name {
            // font-size: 16px;
            span {
                font-weight: 500;
            }
        }

        &:hover {
            cursor: pointer;
            span {
                text-decoration: underline;
            }
        }
    }
}

.menu {
    position: fixed;
    // width: 60px;
    background-color: var(--dark-color-0);
    top: 0;
    left: 0;
    height: 100%;
    z-index: 99;
    border-right: 1px solid var(--dark-color-3);

    .menu-wrapper {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 50px;
    }

    .menu-list {
        padding: 0 10px;
        margin-top: var(--ptop);
        .menu-item {
            padding: 10px 12px;
            display: flex;
            align-items: center;
            gap: 7.5px;
            margin-bottom: 10px;
            border-radius: 3.5px;
            transition: all .5s ease 0s;
            cursor: pointer;

            &:hover {
                background-color: var(--dark-color-3);
            }
            &.active {
                background-color: var(--dark-color-3);
            }
        }

        &.logout {
            margin-top: 0;
            transform: translate(0, -40px);
            .menu-item {
                &:hover {
                    background-color: #B4231855;
                }
            }
        }
    }

    span {
        display: none;
        font-size: 14px;
        font-weight: 500;
    }
    img {
        width: 20px;
        height: 20px;
    }

    &.active {
        span {
            display: block;
        }
    }

    
}