

.file-displayer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    padding: 5px 10px;
    // background-color: var(--dark-color-2);
    // border: 1px solid var(--dark-color-3);
    border-radius: 5px;
    // font-family: monospace;
    width: 100%;
    .side {
        display: flex;
        gap: 10px;
        align-items: center;
        &-left {

            .mimetype {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                background-color: var(--base-color);
                // border: 2px solid var(--dark-color-2);
                cursor: pointer;
                span {
                    position: absolute;
                    font-size: 8px;
                    font-weight: 600;
                }
                img {
                    width: 20px;
                }
            }
            .name {
                display: flex;
                flex-direction: column;
                gap: 3px;
                .name-wrapper {
                    height: 16px;
                    overflow: hidden;
                    max-width: 160px;
                }
                span {
                    word-wrap: break-word;
                    font-size: 13px;
                }
                .size {
                    font-size: 10px;
                    font-family: monospace;
                    font-weight: 600;
                    color: #ffffff44;
                }
            }
        }

        &-right {

            .button {
                height: 100%;
                img {
                    width: 16px;
                }
            }
        }
    }

    
}

.file-displayer-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    z-index: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    &-wrapper {
        position: relative;
        width: 100%;
        height: 100%;
        img {
            transition: all .5s ease 0s;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    
}

.file-displayer-wrapper {
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    user-select: none;
    // min-width: 220px;
    &.image {

        .file-displayer {
            background-color: #00000088;
            transform: translate(0, 50px);
            transition: all .5s ease 0s;
        }
        &:hover {
            .file-displayer {
                transform: translate(0, 0);
            }
            
        }
    }
}