
.stars-chooser {
    display: flex;
    align-items: center;
    justify-content: center;
    .star-chooser-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        gap: 5px;
    }
}

.stars-displayer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2px;
}

.star {
            
    img {
        width: 30px;
    }
    &.small {
        img {
            width: 15px;
        }
    }
}